<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>议事通</title>
    <!-- Bootstrap Styles-->
    <link href="{$Think.config.web_res_root}css/bootstrap.min.css" rel="stylesheet"/>
    <!-- FontAwesome Styles-->
    <link href="{$Think.config.web_res_root}css/font-awesome.css" rel="stylesheet"/>
    <!-- Custom Styles-->
    <link href="{$Think.config.web_res_root}css/custom-styles.css" rel="stylesheet"/>
    <!-- Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>

</head>
<body>
<div id="wrapper">
    {include file="top" /}
    <!--/. NAV TOP  -->
    {include file="left" /}
    <!-- /. NAV SIDE  -->
    <div id="page-wrapper">
        <div id="page-inner">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="page-header">
                        添加菜单
                    </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <form role="form">
                            <input type="hidden" id="id" value="{$menu.id}">
                            <div class="form-group">
                                <label>菜单名称</label>
                                <input class="form-control" type="text" id="name" value="{$menu.name}">
                            </div>
                            <div class="form-group">
                                <label>父级菜单</label>
                                <select class="form-control" id="pid">
                                    <option value='0'>--默认顶级--</option>
                                    {volist name="menu_list" id="data"}
                                    {if condition="$menu.pid==$data.id"}
                                    <option value="{$data.id}" selected>{$data.lefthtml} {$data.name}</option>
                                    {else /}
                                    <option value="{$data.id}">{$data.lefthtml} {$data.name}</option>
                                    {/if}
                                    {/volist}
                                </select>
                            </div>
                            <div class="form-group">
                                <label> 菜单地址</label>
                                <input class="form-control" type="text" id="url" value="{$menu.url}">
                            </div>
                            <div class="form-group">
                                <label> 菜单样式</label>
                                <input class="form-control" type="text" id="css" value="{$menu.css}">
                            </div>
                            <div class="form-group">
                                <label> 是否启用</label>
                                <label class="radio-inline">
                                    {if condition="$menu.status===1 OR empty($menu)"}
                                    <input type="radio" name="status" value="1" checked>已启用
                                    {else/}
                                    <input type="radio" name="status" value="1">已启用
                                    {/if}
                                </label>
                                <label class="radio-inline">
                                    {if condition="$menu.status===0"}
                                    <input type="radio" name="status" value="0" checked>未启用
                                    {else/}
                                    <input type="radio" name="status" value="0">未启用
                                    {/if}
                                </label>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-primary" onclick="add_menu()">提交</button>
            {include file="footer" /}
        </div>
    </div>
</div>

<!-- /. WRAPPER  -->
<!-- JS Scripts-->
<!-- jQuery Js -->
<script src="{$Think.config.web_res_root}js/jquery-1.10.2.js"></script>
<!-- Bootstrap Js -->
<script src="{$Think.config.web_res_root}js/bootstrap.min.js"></script>
<!-- Metis Menu Js -->
<script src="{$Think.config.web_res_root}js/jquery.metisMenu.js"></script>
<!--Morris JS-->
<script src="{$Think.config.web_res_root}js/morris/morris.js"></script>
<!-- Custom Js -->
<script src="{$Think.config.web_res_root}js/custom-scripts.js"></script>
<script type="text/javascript" src="{$Think.config.web_res_root}/js/layer/layer.js"></script>
<script type="text/javascript">
    function add_menu() {
        var name = $('#name').val();
        if (name == '') {
            layer.alert('请输入菜单名称');
            return;
        }
        var url = $('#url').val();
        if (url == '') {
            layer.alert('请输入菜单地址');
            return;
        }

        $.ajax({
            type: "POST",
            data: {
                id: $('#id').val(),
                name: name,
                pid: $('#pid option:selected').val(),
                url: url,
                css: $('#css').val(),
                status: $("input[name='status']:checked").val()
            },
            url: "addMenu",
            success: function (ret) {
                if (ret['code'] == 0) {
                    layer.msg('保存菜单成功');
                    setTimeout(function () {
                        window.history.back(-1);
                    }, 1000);
                }else{
                    layer.msg(ret['msg']);
                }
            },
            error: function (msg) {
                layer.alert(msg);
            }
        });
    }
</script>
</body>
</html>
