<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>议事通</title>
    <!-- Bootstrap Styles-->
    <link href="{$Think.config.web_res_root}css/bootstrap.min.css" rel="stylesheet"/>
    <!-- FontAwesome Styles-->
    <link href="{$Think.config.web_res_root}css/font-awesome.css" rel="stylesheet"/>
    <!-- Custom Styles-->
    <link href="{$Think.config.web_res_root}css/custom-styles.css" rel="stylesheet"/>
    <!-- Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
    <!-- TABLE STYLES-->
    <link href="{$Think.config.web_res_root}js/dataTables/dataTables.bootstrap.css" rel="stylesheet"/>
</head>
<body>
<div id="wrapper">
    {include file="top" /}
    <!--/. NAV TOP  -->
    {include file="left" /}
    <!-- /. NAV SIDE  -->
    <div id="page-wrapper">
        <div id="page-inner">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="page-header">评论列表</h2>
                </div>
            </div>
            <!-- /. ROW  -->
            <div class="row">
                <div class="tab-pane fade active in" id="daiban">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- Advanced Tables -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="input-group">
                                                <input class="form-control" id="key" placeholder="议题名称/评论内容">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-default" id="search" type="button" clickadd="true"><i class="glyphicon glyphicon-search"></i></button>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="btn-group" id="btngroup{rand}">
                                            <button class="btn btn-default active" id="type_-1" onclick="change_types(-1)" type="button">全部类型</button>
                                            <button class="btn btn-default" id="type_0" onclick="change_types(0)" type="button">文本</button>
                                            <button class="btn btn-default" id="type_1" onclick="change_types(1)" type="button">音频</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <table class="table table-striped table-bordered table-hover"
                                           id="dataTables-example">
                                        <thead>
                                        <tr>
                                            <th>id</th>
                                            <th>议题名称</th>
                                            <th>评论内容</th>
                                            <th>语音时长（秒）</th>
                                            <th>评论类型</th>
                                            <th>评论者</th>
                                            <th width="10%">操作</th>
                                        </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                            <!--End Advanced Tables -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- /. ROW  -->

        </div>
        {include file="footer" /}
    </div>
    <!-- /. PAGE INNER  -->
</div>
<!-- /. PAGE WRAPPER  -->
<!-- /. WRAPPER  -->
<!-- JS Scripts-->
<!-- jQuery Js -->
<script src="{$Think.config.web_res_root}js/jquery-1.10.2.js"></script>
<!-- Bootstrap Js -->
<script src="{$Think.config.web_res_root}js/bootstrap.min.js"></script>
<!-- Metis Menu Js -->
<script src="{$Think.config.web_res_root}js/jquery.metisMenu.js"></script>
<!--Morris JS-->
<script src="{$Think.config.web_res_root}js/morris/morris.js"></script>
<script src="{$Think.config.web_res_root}js/morris/raphael-2.1.0.min.js"></script>
<!-- Custom Js -->
<script src="{$Think.config.web_res_root}js/custom-scripts.js"></script>
<!-- DATA TABLE SCRIPTS -->
<script src="{$Think.config.web_res_root}js/dataTables/jquery.dataTables.js"></script>
<script src="{$Think.config.web_res_root}js/dataTables/dataTables.bootstrap.js"></script>

<script src="{$Think.config.web_res_root}js/voice-2.0.js"></script>
<!-- layer Js -->
<script src="{$Think.config.web_res_root}js/layer/layer.js"></script>

<script>
    var types = -1;
    $(document).ready(function () {
        RongIMLib.RongIMVoice.init();
        refreshDataTable();

        $('#search').click(function () {
            refreshDataTable();
        });
    });

    function change_types(type){
        $("button[id^='type']").removeClass('active');
        $('#type_'+type+'').addClass('active');
        types = type;
        refreshDataTable()
    }

    var refreshDataTable = function (e) {
        var table = $('#dataTables-example').DataTable({
            "sPaginationType": "full_numbers",
            'language': {
                "url": "{$Think.config.web_res_root}js/table-zh-cn.json"
            },
            'columns': [
                {data: 'id'},
                {data: 'i_name'},
                {data: 'content'},
                {data: 'duration'},
                {data: 'type'},
                {data: 'create_uname'},
                {data: 'authority'}
            ],
            columnDefs: [
                {
                    "targets": 4,//编辑
                    "data": "0",//编辑
                    "render": function (data, type, row) {
                        return (data == 0) ? data = '文本' : data = '音频';
                    }
                }, {
                    "targets": 6,//编辑
                    "data": "0",//编辑
                    "render": function (data, type, row) {
                        if (row.authority == 1) {
                            return "<a id='delrow' class='btn btn-danger' type='button'><i class='fa fa-trash-o'>删除</i></a>";
                        }
                        return '没有操作权限';
                    }
                }, {
                    "targets": 2,
                    "data": "0",
                    "render": function (data, type, row) {
                        if (row.type == 1) {
                            return "<img src='{$Think.config.web_res_root}img/speak_voice.png' width='32px' height='32px'>";
                        }else{
                            return row.content;
                        }
                    }
                }
            ],
            "searching": false,
            "bPaginite": true,
            "bFilter": false,
            "bInfo": true,
            "bSort": false,
            "processing": false,
            "bServerSide": true,
            "destroy": true,
            "sAjaxSource": "getcommentlist",//这个是请求的地址
            "fnServerData": retrieveData// 获取数据的处理函数
        });

        $('#dataTables-example tbody').on('click', 'button#delrow', function () {
            //获取id
            var data = table.row($(this).parents('tr')).data();
            layer.confirm('您确定删除当前用户？', {
                btn: ['确定','取消'] //按钮
            }, function(){
                $.ajax({
                    type:"post",
                    data:{
                        id:data.id
                    },
                    url:"/index/meet.comment/del",
                    success:function(msg){
                        if(msg.code ==0){
                            layer.msg('删除用户成功');
                            setTimeout(function () {
                                window.location.reload();
                            },1000);
                        }
                    }
                });
            }, function(){

            });
        });

        $('#dataTables-example tbody').on('click','img',function () {
            var data = table.row($(this).parents('tr')).data();
            RongIMLib.RongIMVoice.play(data.content);
        });

        function retrieveData(url, aoData, fnCallback) {
            $.ajax({
                url: url,//这个就是请求地址对应sAjaxSource
                data: {
                    "aoData": JSON.stringify(aoData),
                    "key": $('#key').val(),
                    "types":types
                },
                type: 'POST',
                dataType: 'json',
                async: true,
                success: function (result) {
                    fnCallback(result);//把返回的数据传给这个方法就可以了,datatable会自动绑定数据的
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("status:" + XMLHttpRequest.status + ",readyState:" + XMLHttpRequest.readyState + ",textStatus:" + textStatus);
                }
            });
        }
    };
</script>
</body>
</html>

