/*case.css*/
.case-nav-bg{
	/*background: url(../images/case_bg.png) no-repeat center;	*/
	background-size: cover;
}
.case-ul{
	margin-bottom: 5rem;
}
.case-ul span{
	position: relative;
	padding:1rem 2rem;
	cursor: pointer;
}
.case-ul span:hover{
	color: #FA6C17;
}
.case-ul span b{
	position: absolute;
	left: 40%;
    bottom: 0;
    width: 40%;
    margin-left: -10%;
	border-bottom:2px solid #FA6C17 ;
}
.tab{
	display: none;
}
#tab1{
	display: block;
}
/*超小设备手机*/
@media (max-width: 768px) {
	.case-ul span{
		padding:1rem .5rem;
	}
}
/*小型设备平板电脑,最大宽度750px*/
@media (min-width: 768px) {
	.case-ul span{
		padding:1rem 2rem;
	}
}
/*中型设备台式电脑,最大宽度970px*/
@media (min-width: 992px){
	
}
/*大型设备台式电脑,最大宽度1170px大屏幕*/
@media (min-width: 1200px){
	
}