<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>议事通</title>
    <!-- Bootstrap Styles-->
    <link href="{$Think.config.web_res_root}css/bootstrap.min.css" rel="stylesheet"/>
    <!-- FontAwesome Styles-->
    <link href="{$Think.config.web_res_root}css/font-awesome.css" rel="stylesheet"/>
    <!-- Custom Styles-->
    <link href="{$Think.config.web_res_root}css/custom-styles.css" rel="stylesheet"/>
    <!-- Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
    <!-- TABLE STYLES-->
    <link href="{$Think.config.web_res_root}js/dataTables/dataTables.bootstrap.css" rel="stylesheet"/>
</head>
<body>
<div id="wrapper">
    {include file="top" /}
    <!--/. NAV TOP  -->
    {include file="left" /}
    <!-- /. NAV SIDE  -->
    <div id="page-wrapper">
        <div id="page-inner">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="page-header">用户权限管理</h2>
                </div>
            </div>
            <!-- /. ROW  -->
            <div class="row">
                <div class="tab-pane fade active in">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- Advanced Tables -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-md-1">
                                            <button id="add" class="btn btn-primary" onclick="add();"><i
                                                    class="glyphicon glyphicon-plus"></i>新增权限
                                            </button>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="input-group">
                                                <input class="form-control" id="key" placeholder="权限名称/编码">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-default" id="search" type="button"
                                                            clickadd="true"><i
                                                            class="glyphicon glyphicon-search"></i></button>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="btn-group">
                                                <button class="btn btn-default active" id="state_-2" onclick="change_type(-2)" type="button">全部</button>
                                                <button class="btn btn-default" id="state_1" onclick="change_type(1)" type="button">APP权限</button>
                                                <button class="btn btn-default" id="state_2" onclick="change_type(2)" type="button">后台权限</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <table class="table table-striped table-bordered table-hover"
                                           id="dataTables-example">
                                        <thead>
                                        <tr>
                                            <th>id</th>
                                            <th>权限名称</th>
                                            <th>类型</th>
                                            <th>权限编码</th>
                                            <th>地址</th>
                                            <th>状态</th>
                                            <th width="10%">操作</th>
                                        </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                            <!--End Advanced Tables -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- /. ROW  -->

        </div>
        {include file="footer" /}
    </div>
    <!-- /. PAGE INNER  -->
</div>
<!-- /. PAGE WRAPPER  -->
<!-- /. WRAPPER  -->
<!-- JS Scripts-->
<!-- jQuery Js -->
<script src="{$Think.config.web_res_root}js/jquery-1.10.2.js"></script>
<!-- Bootstrap Js -->
<script src="{$Think.config.web_res_root}js/bootstrap.min.js"></script>
<!-- Metis Menu Js -->
<script src="{$Think.config.web_res_root}js/jquery.metisMenu.js"></script>
<!--Morris JS-->
<script src="{$Think.config.web_res_root}js/morris/morris.js"></script>
<!-- Custom Js -->
<script src="{$Think.config.web_res_root}js/custom-scripts.js"></script>

<!-- DATA TABLE SCRIPTS -->
<script src="{$Think.config.web_res_root}js/dataTables/jquery.dataTables.js"></script>
<script src="{$Think.config.web_res_root}js/dataTables/dataTables.bootstrap.js"></script>

<script type="text/javascript" src="{$Think.config.web_res_root}/js/layer/layer.js"></script>
<script>
    function add() {
        location.href = "/index/system.userrule/add";
    }
    $(document).ready(function () {
        refreshDataTable();

        $('#search').click(function () {
            refreshDataTable();
        });
    });

    var type = -2;
    function change_type(t){
        $("button[id^='state']").removeClass('active');
        $('#state_'+t+'').addClass('active');
        type = t;
        refreshDataTable()
    }

    var refreshDataTable = function (e) {
        var table = $('#dataTables-example').DataTable({
            "sPaginationType": "full_numbers",
            'language': {
                "url": "{$Think.config.web_res_root}js/table-zh-cn.json"
            },
            'columns': [
                {data: 'id'},
                {data: 'name'},
                {data: 'type'},
                {data: 'code'},
                {data: 'url'},
                {data: 'status'}
            ],
            columnDefs: [
                {
                    "targets": 6,//编辑
                    "data": "0",//编辑
                    "render": function (data, type, row) {
                        var btn = row.status == 1 ? '停用' : '启用';
                        return "<a id='editrow' href='add?id=" + row.id + "' class='btn btn-primary' type='button'><i class='fa fa-edit'>编辑</i></a>" +
                            "<button id='delrow' class='btn btn-danger yst-margin-l-5' type='button'><i class='fa fa-trash-o'>" + btn + "</i></button>";
                    }
                }, {
                    "targets": 2,//编辑
                    "data": "0",//编辑
                    "render": function (data, type, row) {
                        return (data == 1) ? 'APP权限' : "后台权限";
                    }
                }, {
                    "targets": 5,//编辑
                    "data": "0",//编辑
                    "render": function (data, type, row) {
                        return (data == 1) ? '启用' : "停用";
                    }
                }
            ],
            "searching": false,
            "bPaginite": true,
            "bFilter": false,
            "bInfo": true,
            "bSort": false,
            "processing": false,
            "bServerSide": true,
            "destroy": true,
            "sAjaxSource": "getlist",//这个是请求的地址
            "fnServerData": retrieveData// 获取数据的处理函数
        });

        $('#dataTables-example tbody').on('click', 'button#delrow', function () {
            //获取id
            var data = table.row($(this).parents('tr')).data();
            var status = data.status == 1 ? '停用' : '启用';
            layer.confirm('您确定' + status + '当前权限？', {
                btn: ['确定', '取消'] //按钮
            }, function () {
                $.ajax({
                    type: "post",
                    data: {
                        id: data.id
                    },
                    url: "/index/system.userrule/status",
                    success: function (msg) {
                        if (msg.code == 0) {
                            layer.msg(status + '成功');
                            setTimeout(function () {
                                window.location.reload();
                            }, 1000);
                        }
                    }
                });
            }, function () {

            });
        });

        function retrieveData(url, aoData, fnCallback) {
            $.ajax({
                url: url,//这个就是请求地址对应sAjaxSource
                data: {
                    "aoData": JSON.stringify(aoData),
                    "key": $('#key').val(),
                    "type":type
                },
                type: 'POST',
                dataType: 'json',
                async: true,
                success: function (result) {
                    fnCallback(result);//把返回的数据传给这个方法就可以了,datatable会自动绑定数据的
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("status:" + XMLHttpRequest.status + ",readyState:" + XMLHttpRequest.readyState + ",textStatus:" + textStatus);
                }
            });
        }
    };
</script>
</body>
</html>
